<!DOCTYPE html>
<html>
  <head>
    <title>Home Security WH16</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/style.css') }}">
    <script type="text/javascript" src="/static/viewer.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <video id="cameraVideoInput" width="640" height="480" autoplay></video>

    <!-- todo: make some kind of central init point for js scripts -->
    <script>
      window.onload = initViewer();
    </script>
  </body>
</html>
