<!DOCTYPE html>
<html>
    <head>
        <title>Home Security WH16</title>
        <link rel="stylesheet" type="text/css" href="/static/assets/style.css">
        <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
        <script type="text/javascript" src="/static/functions.js"></script>
        <script type="text/javascript" src="/static/viewer.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus"></span> Upload
        </button>
        <video id="cameraVideoInput" width="640" height="480" autoplay></video>
        <canvas id="myCanvas" hidden="true"></canvas>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload images of your full body</h4>
                    </div>
                    <div class="modal-body">
                        <p>Name: </p><input type="text" name="name" value="" maxlength="100" id="concept" />
                        <p>Upload/Add images: </p><input type="file" name="img" accept="image/*" id="images" multiple />
                        <input type="submit" value="Submit" onclick="imageArray();" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- todo: make some kind of central init point for js scripts -->
        <script>
            window.onload = initViewer();
        </script>
        <script type="text/javascript">
            function previewFiles() {
                var files = document.querySelector("input[type=file]").files;
                var numFiles = files.length;
                function readToByte(file) {
                    if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
                        var myCanvas = document.getElementById("myCanvas");
                        var ctx = myCanvas.getContext("2d");
                        ctx.drawImage(file, 0, 0);
                        return myCanvas.toDataURL("image/png");
                    }
                }
                var byteArray = [];
                for (var i = 0; i < numFiles; i++) {
                    byteArray.push(readToByte(files[i]));
                }
                return byteArray;
            }
            function imageArray() {
                byteArray = previewFiles();
                alert(byteArray[0]);
            }
        </script>
    </body>
</html>
